/* base¿ë css */


body {
	font-family:"µ¸¿ò", Dotum, "±¼¸²", Gulim, sans-serif; font-size:13px;
	line-height:1.2; 
}

a:link { color:#000; text-decoration:none; }
a:visited { color:#000; text-decoration:none; }
a:hover { color:#000; text-decoration:underline; }
a:focous { color:#000; text-decoration:underline; }
a:active { color:#000; text-decoration:none; }


/* layout¿ë css */
footer {
	width:100%; height:120px; background:#efefef; 
	position:absolute; bottom:0;
}

/* ---------- footer ¿µ¿ª ---------- */
.footerInner { 	 
	border:0px solid black; position:absolute; bottom:0;
}
.corp_area { line-height:50px; }
.corp_area ul { text-align:left; }
.corp_area li { display:inline-block;}
.footerLogo {
	position:absolute; top:50px; 
}
.company_info_area {
	overflow:hidden; margin-bottom:10px; padding-top:10px; 
}
.company_info_area > div:nth-of-type(1) { padding:9px 0 5px 0; } 
.company_info { overflow:hidden; margin: 0 0 0 190px;} 
.company_info ul { text-align:left;}
.company_info li { display:inline-block; }



