@charset "UTF-8";

.hand { cursor:pointer; }	/* cursor:pointer : .hand클래스가 있는 태그에 마우스를 올렸을 때 마우스모양이 손모양으로 바뀜 */

a:link { color:#4f4f4f; text-decoration:none; }	/* text-decoration : 밑줄 여부 */
a:visited { color:#8a2e91; text-decoration:none; }
a:hover { color:#f00; text-decoration:underline; }
a:focus { color:#f00; text-decoration:underline; }
a:active { color:#f00; text-decoration:none; }
#fundinginfo { position:relative; width:900px; height:1200px; border:1px black solid; margin:0 auto; }

#fundingname { position:absolute; top:50px; width:400px; align:center; text-align:center; }

#fundingmainimg { position:absolute; top:100px; border:1px black solid; }
#fundingmainimg img { width:400px; height:400px; }

#fundingimgs { position:absolute; top:500px; width:400px; border:0px black solid; text-align:center; margin-top:5px; }
#fundingimgs li { display:inline; }
#fundingimgs li img { width:50px; height:50px; }

#fundingdesc { position:absolute; top:580px; width:400px; }

#fundinginfodesc { position:absolute; top:100px; right:0; width:400px; border:1px black solid; }

#fundinglike { position:absolute; top:340px; right:200px; width:195px; height:50px; border:1px black solid; margin-right:5px;}
#fundinglikebtn { width:195px; height:50px; }

#fundinginquiry { position:absolute; top:340px; right:0; width:195px; height:50px; border:1px black solid; text-align:center; line-height:50px; }

#fundingprice { position:absolute; top:395px; right:200px; width:195px; height:50px; border:1px black solid; margin-right:5px; text-align:right; line-height:50px; }

#fundingnum { position:absolute; top:395px; right:0px; width:195px; height:50px; border:1px black solid; text-align:center; line-height:50px; }
.plusminus { width:30px; height:30px; }
.num { width:30px; height:30px; text-align:center; }
#fundingtotalprice { position:absolute; top:450px; right:0px; width:400px; height:50px; border:1px black solid; text-align:center; line-height:50px; }

#funding { position:absolute; top:505px; right:0px; width:400px; height:50px; border:1px black solid; text-align:center; line-height:50px; }

#fundingdescimg { position:absolute; top:650px; border:1px black solid; }
#fundingdescimg img { width:900px; }

#desc { position:absolute; top:150px; }
#plicy { position:absolute; top:300px; }
#qna { position:absolute; top:1000px; }

#fundingdesclink { position:absolute; top:650px; left:230px; backgound-color:#000; }
#fundingdesclink li { display:inline; margin:0 50px; }
