/* ���ν����̵忡 ����Ǵ� CSS */

ol li { list-style:none; }

ol { padding:0; }

body { margin:0; }

a:link { color:#626262; }	

a:visited { color:#626262; }		

a:hover { color:#626262; }	

a { text-decoration:none; }

#wrap { width:960px; height:100%; padding:0; margin:0 auto;}

/* topArea���� ���� */
#topArea { width:100%;}

#title { text-align:center; border-bottom:3px solid black; }

#wrap_nav { width:100%; height:30px; border-bottom:3px solid black;
	padding-bottom:10px;
}

#tab_nav li { float:left; margin-right:50px; }

#tab_nav li:first-child {margin-left:100px;}
/* topArea���� ���� */


/* middleArea���� ���� */
.slideshow {
		background:#007656; height:465px; min-width:960px; 
		overflow:hidden; position:relative;
}
.slideshow-slides { width:100%; height:100%; position:absolute; }
.slideshow-slides .slide {
		width:100%; height:100%; position:absolute; overflow:hidden;
}
.slideshow-slides .slide img { left:50%; margin-left:-600px; position:absolute; }
.slideshow-nav a, .slideshow-indicator a {
	background:rgba(0, 0, 0, 0); overflow:hidden;
}
.slideshow-nav a:before, .slideshow-indicator a:before {
	content:url("../img/sprites.png"); display:inline-block; 
	font-size:0; line-height:0;
}

.slideshow-nav a {
	position:absolute; top:50%; left:50%; width:72px; height:72px; margin-top:-36px;
}
.slideshow-nav a.prev { margin-left:-480px; }
.slideshow-nav a.prev:before { margin-top:-20px; }
.slideshow-nav a.next { margin-left:408px; }
.slideshow-nav a.next:before { margin:-20px 0 0 -80px; }
.slideshow-nav a.disabled { display:none; }

.slideshow-indicator {
	height:16px; left:0; bottom:30px; right:0; text-align:center; position:absolute;
}
.slideshow-indicator a {
	display:inline-block; width:16px; height:16px; margin:0 3px;
}
.slideshow-indicator a.active { cursor:default; }
.slideshow-indicator a:before { margin-left:-110px; }
.slideshow-indicator a.active:before { margin-left:-130px; }
/* middleArea���� ���� */


/* bottomArea���� ���� */
#bottomArea { 
	width:100%; 
	height:680px; 
}

.imgbox {
	width:300px;
	height:200px;
	border:3px solid black;
	float:left;
	margin:10px 7px;
}
.innerBox {
	width:280px;
	height:180px;
	border:2px solid black;
	margin:10 auto;
}

.innerBox span {
	position:relative;
	top:80px; left:120px;
}
/* bottomArea���� ���� */




















